absl-py==0.5.0
appnope==0.1.0
astor==0.7.1
Babel==2.6.0
backcall==0.1.0
bleach==3.0.2
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
cycler==0.10.0
dask==0.20.2
debtcollector==1.20.0
decorator==4.3.0
defusedxml==0.5.0
django-heroku==0.3.1
entrypoints==0.2.3
et-xmlfile==1.0.1
Flask==1.0.2
freeze==1.0.10
gast==0.2.0
grpcio==1.15.0
gunicorn==19.9.0
h5py==2.8.0
heroku==0.1.4
idna==2.7
imutils==0.5.1
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
iso8601==0.1.12
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.0
mistune==0.8.4
monotonic==1.5
nbconvert==5.4.0
nbformat==4.4.0
netaddr==0.7.19
netifaces==0.10.7
numpy==1.15.2
openpyxl==2.5.12
oslo.i18n==3.22.1
oslo.utils==3.37.1
pandocfilters==1.4.2
parso==0.3.1
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
progressbar==2.5
prometheus-client==0.4.2
prompt-toolkit==2.0.7
protobuf==3.6.1
psycopg2==2.7.6.1
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.2
python-cephlibs==0.94.5.post1
python-dateutil==1.5
python-utils==2.3.0
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.20.1
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
Send2Trash==1.5.0
six==1.11.0
tensorboard==1.11.0
tensorflow==1.15.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
utils==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whitenoise==4.1.2
widgetsnbextension==3.4.2
wrapt==1.10.11
